<!doctype html>
<html>
<head>
	<title>CryptoTicker</title>
	<meta charset="utf-8">
	<link rel='stylesheet' href='../static/bootstrap.min.css'>
	<link rel='stylesheet' type="text/css" href='../static/bootstrap.min.css'>

</head>

<body onload="initData()">
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      	<div class="container">
        	<div class="navbar-header">
            	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            		<span class="sr-only">Toggle navigation</span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
          		</button>
        	</div>
        	<a class="navbar-brand" href="./landing.html">CryptoTicker</a>
        	<div class="navbar-collapse collapse">
          		<ul class="nav navbar-nav">
            		<li><a href="./landing.html">Home</a></li>
            		<li><a href="./news.html">News</a></li>
            		<li class="active"><a href="#">Exchange Rates</a></li>
            		<li><a href="./market.html">Alternative Currencies</a></li>
            	</ul>
			</div>
		</div>
	</div>

	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
        	<h1 class="text-center">Exchange Rates Chart</h1>
        	<p class="text-center">Current Bitcoin Exchange Rates</p>
        </div>
    </div>

    <div class="table-responsive">
    	<table class="table table-hover">
    		<thead>
    			<tr>
    				<th>Currency</th>
    				<th>15 Minute Delayed Market Price</th>
    				<th>Buying Price</th>
    				<th>Selling Price</th>
    			</tr>
    		</thead>
    		<tbody id="data">
    		</tbody>
    	</table>
    </div>

</body>

</html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/currency.js"></script>