<!doctype html>

<head>
	<meta charset="utf-8">
	<link rel='stylesheet' type="text/css" href='../static/bootstrap.min.css'>
	
	
</head>

<body>
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
        	<h1 class="text-center">Welcome to CryptoTicker!</h1>
        	<p class="text-center">Access Up-to-Date Information About Crypto Currency Markets and Trends.</p>
        
        	<p class="text-center">
        		<a class="btn btn-lg btn-success" href="#" role="button">News</a>
        		<a class="btn btn-lg btn-success" href="#" role="button">Currency Charts</a>
        		<a class="btn btn-lg btn-success" href="#" role="button">Markets</a>
        	</p>
    	</div>
    </div>




</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../scraper.js"></script>
