<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<link rel='stylesheet' type="text/css" href='../static/bootstrap.min.css'>
	
	
</head>

<body onload="initData()">
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
        	<h1 class="text-center">Welcome to CryptoTicker!</h1>
        	<p class="text-center">Up-to-Date Information on Bitcoins and Alternative Crypto Currencies. Explore exhange rates, currents events, and popular cryptocurrencies other than Bitcoin</p>
    	</div>
    	    <p class="text-center">
        		<a class="btn btn-lg btn-success" href="/news" role="button">News</a>
        		<a class="btn btn-lg btn-success" href="/currency" role="button">Bitcoin Exchange Rates</a>
        		<a class="btn btn-lg btn-success" href="/market" role="button">Market Data</a>
        	</p>
        	
        	<h2 class="text-center"><a href="/currency">Bitcoin Price Index</a></h2>
   	
   			<div class="text-center">
   				<ul class= "list-unstyled" id="BPI-list">
  				</ul>
  			</div>
    </div>
</body>

</html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>

<script src="../static/js/landing.js"></script>
