<!doctype html>

<html>
<head>
	<title>CryptoTicker</title>
	<meta charset="utf-8">
    <link rel='stylesheet' href='../static/style.css'>
	<link rel='stylesheet' href='../static/bootstrap.min.css'>
</head>

<body id="marketBody" onload="initData()">
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      	<div class="container">
        	<div class="navbar-header">
            	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            		<span class="sr-only">Toggle navigation</span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
          		</button>
        	</div>
        	<a class="navbar-brand" href="/">CryptoTicker</a>
        	<div class="navbar-collapse collapse">
          		<ul class="nav navbar-nav">

            		<li><a href="/">Home</a></li>
            		<li><a href="/news">News</a></li>
            		<li><a href="/currency">Exchange Rates</a></li>
                    <li class="active"><a href="#">Market Data</a></li>
                </ul>
        	</div>
        </div>
    </div>

	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
        	<h1 class="text-center">Market Data</h1>
        	<p class="text-center">Explore historical Bitcoin Data</p>
        </div>
    </div>

    <div class="text-center">
    <div class="form-inline" role="form" id="dateForm" action="#">
        <div class="form-group">
            <label for="startDate">Start Date</label>
                <input type="text" class="form-control" id="startDate" placeholder="YYYY-MM-DD" required>
        </div>
        <div class="form-group">
            <label for="endDate">End Date</label>
                <input type="text" class="form-control" id="endDate" placeholder="YYYY-MM-DD" required>
        </div>
        <button class="btn btn-default" onclick="specData()">Submit</button>
    </div>
    </div>
    <div id="chart"></div>


</body>

</html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="../static/js/market.js"></script>

