<!doctype html>

<html>
<head>
	<title>CryptoTicker</title>
	<meta charset="utf-8">
	<link rel='stylesheet' href='static/bootstrap.min.css'>
 	<link rel='stylesheet' href='static/bootstrap-responsive.css'>
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src= "cryptoTracker.js"></script>
</head>

<body id="newsBody">
	<h1 id="welcome">Welcome to CryptoTicker</h1>
	<div id="navigation">
		<ul class="nav nav-pills nav-justified">
			<li><a href="/currency">Currencies</a></li>
			<li><a href="/market">Market</a></li>
			<li class="active"><a href="#">News</a></li>
		</ul>
	</div>
	<h2>Display News Data Here</h2>
</body>

</html>